@import "~modern-normalize";

:root {
  --link-color: #4392f3;
  --link-color-active: #0f4a92;
}

body {
  line-height: 1.8;
}

a,
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    border-bottom-color: currentColor;
  }

  &:active {
    color: var(--link-color-active);
  }
}
